@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Unna');


html {
    font-size: 16px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}


h1,h2,h3,h4,h5,h6 {
    color: #232323
}

p {
    font-family: 'Roboto', sans-serif;
    color: #898989;
}

h1{
     font-size: 3rem;
 }

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2.4rem;
}

.gold-color {
    color: #9F8F68;
}


.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.standard-mar-btm {
    margin-bottom: 34px;
}
.main-wrapper {
    height:100vh;
    padding: 24px 24px 0 24px;
}

.main-header {
    width:100%;
    height:55px;
    position: relative;
}

.logo {
    width:200px;
    position: absolute;
    left:0;
    top:0;
}

.menu {
    display: block;
    position: absolute;
    top:0;
    right:0;
    width:40px;

}

.menu img {
    width:100%;
}

.image-block {
    width:100%;
    height:200px;
    background: url("./img/temp.jpg") center no-repeat;
    background-size: cover;
    margin-bottom:34px;
}

.image-block-2 {
    background: url("https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?dpr=1&auto=format&fit=crop&w=767&h=509&q=80&cs=tinysrgb&crop=")center no-repeat;

}


.inner-content {
    text-align: center;
}

/*This will work for anything < 900px */
.main-content-section {
    display: flex;
    flex-direction: column;
}

.content-small-header {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;

}

.content-large-header {
    font-size: 2.2rem;
    margin-bottom: 16px;
    font-family: 'Unna', serif;

}

.content-p {
    line-height: normal;
    font-size: 1.4rem;
}

.site-nav {
    display: none;
    position: absolute;
    right: 0;
    width: 350px;
}

.site-nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*Anything >= 700px hide menu*/
@media(min-width: 700px) {
    .menu {
        display: none;
    }
    .site-nav {
        display: flex;
    }
}

@media(min-width: 900px) {
    html {
        font-size: 18px;
    }
    .main-content-section {
        flex-direction: row;
    }
}

@media(min-width: 1300px) {
    html {
        font-size: 20px;
    }
}


